<main class="vh-100 w-100 d-flex flex-wrap">

    <div class="col-6 w-50 bg-primary">
       <div class="container h-100 d-flex flex-column justify-content-center align-items-center">
        <div class="col-6">
            <img src="assets/images/base-de-datos.png" class="img-fluid" alt="...">
        </div>
        <div>
            <h1 class="text-uppercase mt-1 text-bold text-white">Manager Database</h1>
        </div>
       </div>
    </div>

    
    <div class="col-6 border border-primary w-50">
        <div class="container w-100 h-100 ">
            <div class="row w-100 h-100  ">
                <div class="col w-100 h-100 d-flex justify-content-center align-items-center">
                  <form class="bg-white w-50 h-50 rounded ">
                    <div class="mb-3 p-2 bg-primary align-self-start rounded ">
                        <h4 class="text-center text- text-white text-uppercase">Datos de Acceso</h4>
                    </div>
                    <div class="p-4 d-flex flex-column justify-content-center">
                        <div class="mb-3">
                            <label for="database" class="form-label mb-0">Base de datos</label>
                            <input type="text" class="form-control" id="input_database" placeholder="">
                        </div>
                        <div class="mb-3">
                            <label for="username" class="form-label mb-0">Usuario</label>
                            <input type="text" class="form-control" id="input_username" placeholder="">
                        </div>
                        
                        <div class="mb-3">
                            <label for="Password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="input_password" placeholder="****">
                        </div>
                        <div class="mb-3 d-flex justify-content-end">
                            <button 
                                class="button btn btn-success btn-sm"
                                type="button"
                                >
                                Conectar &rarrb;
                            </button>
                        </div>
                    </div>
                  </form>
                </div>
            </div>
        </div>
    </div>

</main>